.container {
	text-align: center;
	font-family: Microsoft YaHei;
	width: 1000px;
	margin: 0 auto;
}

.container h1 {
	font-size: 40px;
	margin: 100px 0 50px 0;
}

.container h2 {
	margin: 100px 0 50px 0;
}

.container p {
	text-align: left;
	margin: 30px 0;
}

.ft-img {
}

.ft-img img{
	vertical-align: middle;
	width: 100%;
}