.wrapper {
	width: 1000px;
	margin: 0 auto;
	font-family: Microsoft YaHei;
}

.wrapper .block {
	margin: 100px 0;
	display: inline-block;
	width: 33.3%;
	text-align: center;
}

.wrapper .block h2{
	margin: 20px 0;
}

.wrapper .block p{
	color: #aaa;
}