* {
	margin: 0;
	padding: 0;
}

@font-face { 
  font-family: FangZheng; 
  src: url('兰亭黑简.TTF'); 
} 

.floatL {
	float: left;
}


.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#main {
	background: url("../image/back.jpg");
	height: 6000px;
	background-size: cover;
	min-width: 1024px;
	position: relative;
	overflow: hidden;
}


.nav-wrapper {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
}

nav {
	margin-top: 20px;
}

nav ul {
	float: right;
}
nav li {
	display: inline-block;
	height: 64px;
	line-height: 64px;
	margin-top: 20px;
	margin-right: 30px;
	text-align: center;
}
nav li.active {
	border-bottom: 1px solid white;
}
nav li a{
	text-decoration: none;
	color: white;
	font-family: "FangZheng",arial,sans-serif;
    font-size: 18px;
}
nav li:hover {
	cursor: pointer;

}

nav {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 9999;
}

.intro {
	
}
.introImg {
	/*position: absolute;*/
	vertical-align: middle;
}
.headerTitle {
	width: 30%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	display: block;
	top: 230px;
	position: absolute;
}

.headerBall {
	position: absolute;
	// width: 32%;
	margin-top: -380px;
}

.headerBall2 {
	position: absolute;
	// width: 22%;
	margin-top: -540px;
	right: 0px;
}

.headerBall3 {
	position: absolute;
	// width: 22%;
	margin-top: -240px;
	left: 46%;
}

.spark {
	// position: absolute;
	margin-top: -100px;
}

.data-space {
	min-height: 1300px;
	// overflow: hidden;
	background-image: url('../image/图2球3-1.png');
	background-repeat: no-repeat;
	background-position: right;
	border-top: 1px solid transparent;
	position: relative;
}
.data-space .word-content::before{
	content: url("../image/wordPrefix.png");
	position: absolute;
	margin-left: -100px;
}
.data-space .word-content{
	color: white;
	max-width: 720px;
	margin: 0 auto;
	position: absolute;
	left: 50%;
	top: 300px;

}
.data-space .word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
}
.data-space .word-content p{
    font-family: "Source Sans Pro", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
}

.cloud {
	position: absolute;
	left: -180px;
	margin-top: -210px;
	z-index: 10;
}

.more {
	margin-top: 30px;
}

.universe {
	min-height: 800px;
	position: relative;
}

.track {

}
.track {
	margin: 0 auto;
	// width: 93%;
	display: block;
}

.track-wrapper {
	position: absolute;
	min-height: 1500px;
	width: 100%;
	z-index: 2;
}

.data-analytic {
	min-height: 1300px;
	position: relative;
	background-image: url("../image/黑洞.png");
	background-size: 100%;
	background-repeat: no-repeat;
}
.data-analytic .word-content::before{
	content: url("../image/wordPrefix.png");
	position: absolute;
	margin-left: -100px;
}
.data-analytic .word-content{
	color: white;
	max-width: 720px;
	margin: 500px auto 0;
	position: relative;
	left: -9%;
}

.word-content h2{
    line-height: 1;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 2.1428571429rem;
}
.word-content p{
    font-family: "Source Sans Pro", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    text-align: justify;
}

#track {
	background-image: url("../image/组1.png");
	background-repeat: no-repeat;
	background-position: 200px 730px;
	background-size: 100%;
}

#half-ball {
	// background-image: url("../image/3.png");
	position: absolute;
	// min-height: 800px;
	// width: 100%;
	// background-size: 100% 100%;
	// z-index: 1;
	// background-repeat: no-repeat;
}

.universe .word-content{
	color: white;
    max-width: 720px;
    margin: 0 auto;
    position: absolute;
    left: 37%;
    margin-top: 200px;
    z-index: 3;
}

.universe .word-content::before{
	content: url("../image/wordPrefix.png");
	position: absolute;
	margin-left: -100px;
}

.ground {
	font-size: 0px;
	position: absolute;
}

.logo-bot {
	width: 50%;
	left: 0;
	right: 0;
	margin: -100px auto 0;
	position: absolute;
}

.menu-icon {
	width: 40px;
	position: absolute;
	top: 42px;
	right: -40px;
	z-index: 8;
	cursor: pointer;
}

.menu-icon span {
	height: 3px;
	background-color: white;
	display: block;
}

.sub-nav {
	width: 500px;
	background-color: black;
	height: 100%;
	position: fixed;
	z-index: 7;
	top: 0;
	right: -300px;
    color: #ababab;
    display: none;
    overflow-x: hidden;
}

.sub-nav-contain {
	margin-top: 120px;
}

.sub-nav ul {
	list-style: none;
	padding: 0 0 20px 0;
}

.sub-nav li:first-child {
    color: #ababab;
    font-size: 20px;
    font-family: "FangZheng",arial,sans-serif;
}

.sub-nav li {
	margin: 16px;
}

.body-nav {
	overflow: hidden;
}

body {
	overflow: visible;
}