.title{height: 135px;
          padding-left: 30px;
          line-height: 240px;
          overflow: hidden;
          color: silver;
          font-weight: bold;
          font-size: 14px;
          background-color:#D43E2A;}
.nav{height:40px;
        background-color:#D43E2A;
        border-top: 3px white dashed;
        overflow: hidden;
        }
.nav ul li{
        display: inline-block;
        width: 10%;
        text-align: center;
        font-weight: bold;
        height: 40px;
        list-style-type: none;
   }
.nav ul li a:link {text-decoration: none;
                     color: white;}
.nav ul li a:visited {text-decoration: none;
                         color: white;}
.nav ul li a:hover {text-decoration: underline;
                       color:white;
                       font-size: 20px;}
.nav ul li a:active {text-decoration: none;
                        color: white;}
.bodier{background: url(../../bg.jpg);
           border:1px white groove;
           }
.footer{float: left;
           background-color:#D43E2A;
           width:100%;
           height:135px;
           line-height: 135px;
           text-align: center;
           color: white;
           font-weight: bold;}
